In [1]:
import pandas as pd

In [8]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df_train=pd.read_csv("train.csv")

In [3]:
df_train

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148,clean,manual,rwd,mid-size,convertible,orange,NaN,27587
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038,clean,automatic,rwd,full-size,sedan,silver,pa,4724
2,2,wichita,1998,ford,good,6 cylinders,gas,152492,clean,automatic,fwd,full-size,SUV,silver,ks,10931
3,3,albany,2014,ford,excellent,4 cylinders,gas,104118,clean,manual,fwd,mid-size,SUV,blue,ny,16553
4,4,redding,2005,ford,excellent,6 cylinders,gas,144554,clean,manual,fwd,mid-size,sedan,red,ca,5158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27527,27527,williamsport,2008,ford,good,6 cylinders,gas,26660,clean,automatic,rwd,compact,truck,black,pa,32212
27528,27528,tulsa,2007,ford,excellent,8 cylinders,gas,108072,clean,automatic,rwd,full-size,pickup,black,NaN,5400
27529,27529,rochester,2019,jeep,like new,6 cylinders,gas,139908,clean,automatic,4wd,mid-size,SUV,white,ny,22227
27530,27530,rochester,2007,jeep,excellent,6 cylinders,gas,112326,clean,automatic,4wd,mid-size,sedan,white,ny,3054
27531,27531,orange county,2009,chevrolet,excellent,8 cylinders,gas,91813,rebuilt,automatic,rwd,full-size,van,white,ca,20801

In [9]:
df_train["manufacturer"].value_counts()

ford             6166
chevrolet        3339
bmw              2736
toyota           1570
honda            1526
ram              1457
jeep             1156
nissan            877
volkswagen        691
FORD              663
kia               592
buick             590
CHEVROLET         391
dodge             383
hyundai           334
gmc               327
audi              297
mazda             294
BMW               263
subaru            250
chrysler          210
HONDA             197
acura             195
mitsubishi        182
TOYOTA            182
cadillac          175
mercedes-benz     172
lexus             167
RAM               159
pontiac           138
mercury           137
lincoln           136
JEEP              122
ｆｏｒｄ              105
NISSAN            102
BUICK              80
ｃｈｅｖｒｏｌｅｔ          70
VOLKSWAGEN         70
infiniti           63
KIA                62
volvo              49
HYUNDAI            44
DODGE              44
fiat               40
ｂｍｗ                39
GMC                39
mini               34
saturn             34
SUBARU             32
ｔｏｙｏｔａ             29
AUDI               28
MERCEDES-BENZ      26
CADILLAC           26
MAZDA              26
ACURA              24
ｒａｍ                21
CHRYSLER           20
ｎｉｓｓａｎ             19
ｈｏｎｄａ              19
MITSUBISHI         19
ｊｅｅｐ               17
LEXUS              16
LINCOLN            16
MERCURY            15
ｋｉａ                14
rover              14
porsche            12
jaguar             11
ｈｙｕｎｄａｉ            11
ＦＯＲＤ                9
INFINITI            9
VOLVO               8
ｖｏｌｋｓｗａｇｅｎ          8
ｂｕｉｃｋ               7
ＣＨＥＶＲＯＬＥＴ           7
ｃｈｒｙｓｌｅｒ            6
PONTIAC             6
ＢＭＷ                 6
SATURN              6
ｄｏｄｇｅ               5
ｍａｚｄａ               5
ｍｉｔｓｕｂｉｓｈｉ          4
ｓｕｂａｒｕ              4
ROVER               4
alfa-romeo          4
ａｕｄｉ                4
ｇｍｃ                 4
ａｃｕｒａ               3
ｌｅｘｕｓ               3
ｖｏｌｖｏ               3
ＶＯＬＫＳＷＡＧＥＮ          3
FIAT                3
ＳＵＢＡＲＵ              2
ｃａｄｉｌｌａｃ            2
ＲＡＭ                 2
land rover          2
ＪＥＥＰ                2
ＭＡＺＤＡ               2
MINI                2
ｍｅｒｃｕｒｙ             2
niѕsan              2
ＮＩＳＳＡＮ              2
aston-martin        2
SUBΑRU              2
toyotа              2
ＨＹＵＮＤＡＩ             2
ｓａｔｕｒｎ              1
lexuѕ               1
ＭＩＮＩ                1
JAGUAR              1
аcura               1
ｍｅｒｃｅｄｅｓ－ｂｅｎｚ       1
vоlkswagen          1
ＭＩＴＳＵＢＩＳＨＩ          1
ＭＥＲＣＵＲＹ             1
ｉｎｆｉｎｉｔｉ            1
ＣＡＤＩＬＬＡＣ            1
ｐｏｎｔｉａｃ             1
nisѕan              1
SΑTURN              1
ＴＯＹＯＴＡ              1
ＤＯＤＧＥ               1
ＢＵＩＣＫ               1
ᴄhrysler            1
ＡＣＵＲＡ               1
Name: manufacturer, dtype: int64

In [10]:
def preprocess_manufacturer(input_df):
    """
    manufacturerを無理やり名寄せする
    
    """
    output_df = input_df.copy()
    output_df['manufacturer'] = output_df['manufacturer'].str.lower().str.normalize("NFKC")
    output_df.loc[output_df['manufacturer'].str.startswith('ni'), 'manufacturer'] = 'nissan'
    output_df.loc[output_df['manufacturer'].str.startswith('toyo'), 'manufacturer'] = 'toyota'
    output_df.loc[output_df['manufacturer'].str.startswith('lex'), 'manufacturer'] = 'lexus'
    output_df.loc[output_df['manufacturer'].str.endswith('cura'), 'manufacturer'] = 'acura'
    output_df.loc[output_df['manufacturer'].str.endswith('ler'), 'manufacturer'] = 'chrysler'
    output_df.loc[output_df['manufacturer'].str.endswith('ru'), 'manufacturer'] = 'subaru'
    output_df.loc[output_df['manufacturer'].str.endswith('turn'), 'manufacturer'] = 'saturn'
    output_df.loc[output_df['manufacturer'].str.endswith('wagen'), 'manufacturer'] = 'volkswagen'
    return output_df

In [19]:
def preprocess_year(input_df):
    """
    yearの異常値は「千の桁を+1してしまった」と仮定して処理する
    
    """
    output_df = input_df.copy()
    output_df.loc[output_df['year']>2023, 'year'] = output_df['year'] - 1000
    return output_df

In [36]:
def preprocess_size(input_df):
    """
    sizeを名寄せする
    
    """
    output_df = input_df.copy()
    output_df['size'] = output_df['size'].str.replace("ー", "-").str.replace("−", "-")
    return output_df

In [43]:
def preprocess_state(input_df):
    """
    nullを他レコードのregion-stateの関係から埋める
    
    """
    output_df = input_df.copy()
    _df = output_df[output_df['state'].notnull()]
    _dict = dict(zip(_df['region'], _df['state']))
    output_df.loc[output_df['state'].isnull(), 'state'] = output_df['region'].map(_dict)
    return output_df

In [11]:
df_train=preprocess_manufacturer(df_train)

In [20]:
df_train=preprocess_year(df_train)

In [30]:
#odometerの補正
df_train["odometer"]=(df_train["odometer"]**2)**0.5

In [37]:
df_train=preprocess_size(df_train)

In [44]:
df_train=preprocess_state(df_train)

# 以下確認用

In [23]:
df_train.head()

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148,clean,manual,rwd,mid-size,convertible,orange,NaN,27587
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038,clean,automatic,rwd,full-size,sedan,silver,pa,4724
2,2,wichita,1998,ford,good,6 cylinders,gas,152492,clean,automatic,fwd,full-size,SUV,silver,ks,10931
3,3,albany,2014,ford,excellent,4 cylinders,gas,104118,clean,manual,fwd,mid-size,SUV,blue,ny,16553
4,4,redding,2005,ford,excellent,6 cylinders,gas,144554,clean,manual,fwd,mid-size,sedan,red,ca,5158

In [31]:
df_train["odometer"].describe()

count    2.753200e+04
mean     1.160295e+05
std      6.449916e+04
min      1.000000e+00
25%      7.837100e+04
50%      1.114530e+05
75%      1.508562e+05
max      2.946000e+06
Name: odometer, dtype: float64

In [46]:
len(df_train["state"].value_counts(dropna=False))

52

In [47]:
len(df_train["region"].value_counts(dropna=False))

372

In [75]:
#特徴量追加

In [77]:
df_train["year_bin3"]=(2023-df_train["year"])//3
df_train.head()

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148.0,clean,manual,rwd,mid-size,convertible,orange,tn,27587,24
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038.0,clean,automatic,rwd,full-size,sedan,silver,pa,4724,3
2,2,wichita,1998,ford,good,6 cylinders,gas,152492.0,clean,automatic,fwd,full-size,SUV,silver,ks,10931,8
3,3,albany,2014,ford,excellent,4 cylinders,gas,104118.0,clean,manual,fwd,mid-size,SUV,blue,ny,16553,3
4,4,redding,2005,ford,excellent,6 cylinders,gas,144554.0,clean,manual,fwd,mid-size,sedan,red,ca,5158,6

In [78]:
df_train["odometer_bin5000"]=df_train["odometer"]//5000
df_train.head()

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3,odometer_bin5000
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148.0,clean,manual,rwd,mid-size,convertible,orange,tn,27587,24,23.0
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038.0,clean,automatic,rwd,full-size,sedan,silver,pa,4724,3,34.0
2,2,wichita,1998,ford,good,6 cylinders,gas,152492.0,clean,automatic,fwd,full-size,SUV,silver,ks,10931,8,30.0
3,3,albany,2014,ford,excellent,4 cylinders,gas,104118.0,clean,manual,fwd,mid-size,SUV,blue,ny,16553,3,20.0
4,4,redding,2005,ford,excellent,6 cylinders,gas,144554.0,clean,manual,fwd,mid-size,sedan,red,ca,5158,6,28.0

In [96]:
df_mts=df_train[["id","manufacturer","type","size"]].groupby(["manufacturer","type","size"]).count().reset_index()
df_mts.columns=["manufacturer","type","size","mts_counts"]
df_mts

    manufacturer   type         size  mts_counts
0          acura    SUV      compact           3
1          acura    SUV    full-size          43
2          acura    SUV     mid-size          28
3          acura  coupe      compact           7
4          acura  coupe    full-size           5
..           ...    ...          ...         ...
612        volvo  sedan      compact           4
613        volvo  sedan    full-size           7
614        volvo  sedan     mid-size          10
615        volvo  sedan  sub-compact           1
616        volvo  wagon    full-size           1

[617 rows x 4 columns]

In [98]:
df_train=pd.merge(df_train,df_mts,on=["manufacturer","type","size"],how="left")

In [99]:
df_train

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3,odometer_bin5000,mts_counts
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148.0,clean,manual,rwd,mid-size,convertible,orange,tn,27587,24,23.0,151.0
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038.0,clean,automatic,rwd,full-size,sedan,silver,pa,4724,3,34.0,244.0
2,2,wichita,1998,ford,good,6 cylinders,gas,152492.0,clean,automatic,fwd,full-size,SUV,silver,ks,10931,8,30.0,915.0
3,3,albany,2014,ford,excellent,4 cylinders,gas,104118.0,clean,manual,fwd,mid-size,SUV,blue,ny,16553,3,20.0,493.0
4,4,redding,2005,ford,excellent,6 cylinders,gas,144554.0,clean,manual,fwd,mid-size,sedan,red,ca,5158,6,28.0,704.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27527,27527,williamsport,2008,ford,good,6 cylinders,gas,26660.0,clean,automatic,rwd,compact,truck,black,pa,32212,5,5.0,16.0
27528,27528,tulsa,2007,ford,excellent,8 cylinders,gas,108072.0,clean,automatic,rwd,full-size,pickup,black,ok,5400,5,21.0,823.0
27529,27529,rochester,2019,jeep,like new,6 cylinders,gas,139908.0,clean,automatic,4wd,mid-size,SUV,white,ny,22227,1,27.0,436.0
27530,27530,rochester,2007,jeep,excellent,6 cylinders,gas,112326.0,clean,automatic,4wd,mid-size,sedan,white,ny,3054,5,22.0,18.0
27531,27531,orange county,2009,chevrolet,excellent,8 cylinders,gas,91813.0,rebuilt,automatic,rwd,full-size,van,white,ca,20801,4,18.0,107.0

In [111]:
#price修正
import math
df_train["price"]=df_train["price"].apply(lambda x:math.log10(x))
df_train

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3,odometer_bin5000,mts_counts
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148.0,clean,manual,rwd,mid-size,convertible,orange,tn,4.440704,24,23.0,151.0
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038.0,clean,automatic,rwd,full-size,sedan,silver,pa,3.674310,3,34.0,244.0
2,2,wichita,1998,ford,good,6 cylinders,gas,152492.0,clean,automatic,fwd,full-size,SUV,silver,ks,4.038660,8,30.0,915.0
3,3,albany,2014,ford,excellent,4 cylinders,gas,104118.0,clean,manual,fwd,mid-size,SUV,blue,ny,4.218877,3,20.0,493.0
4,4,redding,2005,ford,excellent,6 cylinders,gas,144554.0,clean,manual,fwd,mid-size,sedan,red,ca,3.712481,6,28.0,704.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27527,27527,williamsport,2008,ford,good,6 cylinders,gas,26660.0,clean,automatic,rwd,compact,truck,black,pa,4.508018,5,5.0,16.0
27528,27528,tulsa,2007,ford,excellent,8 cylinders,gas,108072.0,clean,automatic,rwd,full-size,pickup,black,ok,3.732394,5,21.0,823.0
27529,27529,rochester,2019,jeep,like new,6 cylinders,gas,139908.0,clean,automatic,4wd,mid-size,SUV,white,ny,4.346881,1,27.0,436.0
27530,27530,rochester,2007,jeep,excellent,6 cylinders,gas,112326.0,clean,automatic,4wd,mid-size,sedan,white,ny,3.484869,5,22.0,18.0
27531,27531,orange county,2009,chevrolet,excellent,8 cylinders,gas,91813.0,rebuilt,automatic,rwd,full-size,van,white,ca,4.318084,4,18.0,107.0

# データ分割

データの分割を実施

In [48]:
from sklearn.model_selection import train_test_split

In [112]:
df_train_train, df_train_test = train_test_split(df_train, test_size=0.2,random_state=0)

In [113]:
len(df_train_train)

22025

In [114]:
len(df_train_test)

5507

In [103]:
df_train_test

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3,odometer_bin5000,mts_counts
13009,13009,eastern CT,2004,toyota,excellent,8 cylinders,gas,222927.0,clean,automatic,4wd,full-size,truck,black,ct,9971,6,44.0,84.0
3668,3668,lawrence,2015,bmw,like new,6 cylinders,gas,113035.0,clean,automatic,4wd,full-size,SUV,black,ks,19053,2,22.0,396.0
22256,22256,kennewick-pasco-richland,2012,fiat,like new,4 cylinders,gas,71596.0,clean,manual,fwd,compact,hatchback,black,wa,19167,3,14.0,13.0
23585,23585,rhode island,2008,chevrolet,excellent,8 cylinders,gas,114423.0,clean,automatic,4wd,full-size,truck,black,ri,38564,5,22.0,702.0
25012,25012,ft myers / SW florida,2016,bmw,excellent,6 cylinders,gas,59807.0,clean,manual,rwd,mid-size,sedan,black,fl,12849,2,11.0,692.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14405,14405,gainesville,2012,ford,like new,4 cylinders,gas,108339.0,clean,automatic,fwd,mid-size,sedan,silver,fl,10185,3,21.0,704.0
312,312,boulder,2010,jeep,excellent,6 cylinders,gas,67562.0,clean,automatic,4wd,full-size,SUV,black,co,53315,4,13.0,574.0
25930,25930,tampa bay area,2002,toyota,like new,6 cylinders,gas,118638.0,clean,automatic,rwd,full-size,SUV,grey,fl,19876,7,23.0,315.0
9825,9825,rochester,2019,ford,excellent,8 cylinders,gas,26815.0,clean,automatic,rwd,full-size,van,white,ny,17539,1,5.0,207.0
3259,3259,sheboygan,2014,honda,fair,4 cylinders,gas,135689.0,clean,manual,fwd,compact,hatchback,red,wi,9629,3,27.0,63.0

# 学習

In [53]:
from pycaret.regression import *

In [82]:
df_train_train.head()

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3,odometer_bin5000
2870,2870,tucson,2012,honda,excellent,4 cylinders,gas,139423.0,clean,automatic,fwd,compact,sedan,black,az,5220,3,27.0
4057,4057,dayton / springfield,2011,ford,excellent,8 cylinders,gas,95699.0,clean,other,fwd,full-size,truck,white,oh,20926,4,19.0
14978,14978,rhode island,2012,bmw,excellent,6 cylinders,gas,92315.0,clean,automatic,4wd,mid-size,SUV,custom,ri,33157,3,18.0
24570,24570,roanoke,2012,honda,like new,4 cylinders,gas,121023.0,clean,automatic,fwd,mid-size,sedan,black,va,15968,3,24.0
26185,26185,boise,2012,chrysler,fair,4 cylinders,gas,182246.0,clean,automatic,fwd,mid-size,SUV,blue,id,4860,3,36.0

In [115]:
# PyCaretを起動
exp1 = setup(df_train_train,
             target = 'price',
             ignore_features = ["id","mts_counts"],
             #normalize=True,
             #remove_outliers=True,
             #feature_interaction=True,
             #fold_strategy='groupkfold',
             #fold_groups='manufacturer',
            #bin_numeric_features=['year','odometer'],
             use_gpu=True
            )

In [116]:
# モデルの比較
compare_models(["catboost","lightgbm","xgboost","rf"])

In [117]:
catboost = create_model('catboost')

In [118]:
# 解析結果の確認
evaluate_model(catboost)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

# 精度評価

In [119]:
#予測の実行
predictions = predict_model(catboost, data = df_train_test)

In [120]:
predictions

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3,odometer_bin5000,mts_counts,Label
13009,13009,eastern CT,2004,toyota,excellent,8 cylinders,gas,222927.0,clean,automatic,4wd,full-size,truck,black,ct,3.998739,6,44.0,84.0,3.875931
3668,3668,lawrence,2015,bmw,like new,6 cylinders,gas,113035.0,clean,automatic,4wd,full-size,SUV,black,ks,4.279963,2,22.0,396.0,4.224940
22256,22256,kennewick-pasco-richland,2012,fiat,like new,4 cylinders,gas,71596.0,clean,manual,fwd,compact,hatchback,black,wa,4.282554,3,14.0,13.0,3.952829
23585,23585,rhode island,2008,chevrolet,excellent,8 cylinders,gas,114423.0,clean,automatic,4wd,full-size,truck,black,ri,4.586182,5,22.0,702.0,4.090916
25012,25012,ft myers / SW florida,2016,bmw,excellent,6 cylinders,gas,59807.0,clean,manual,rwd,mid-size,sedan,black,fl,4.108869,2,11.0,692.0,4.262931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14405,14405,gainesville,2012,ford,like new,4 cylinders,gas,108339.0,clean,automatic,fwd,mid-size,sedan,silver,fl,4.007961,3,21.0,704.0,3.922947
312,312,boulder,2010,jeep,excellent,6 cylinders,gas,67562.0,clean,automatic,4wd,full-size,SUV,black,co,4.726849,4,13.0,574.0,4.157429
25930,25930,tampa bay area,2002,toyota,like new,6 cylinders,gas,118638.0,clean,automatic,rwd,full-size,SUV,grey,fl,4.298329,7,23.0,315.0,3.869952
9825,9825,rochester,2019,ford,excellent,8 cylinders,gas,26815.0,clean,automatic,rwd,full-size,van,white,ny,4.244005,1,5.0,207.0,4.536490
3259,3259,sheboygan,2014,honda,fair,4 cylinders,gas,135689.0,clean,manual,fwd,compact,hatchback,red,wi,3.983581,3,27.0,63.0,3.682818

In [121]:
predictions["price"]=predictions["price"].apply(lambda x:10**x)
predictions["Label"]=predictions["Label"].apply(lambda x:10**x)
predictions

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price,year_bin3,odometer_bin5000,mts_counts,Label
13009,13009,eastern CT,2004,toyota,excellent,8 cylinders,gas,222927.0,clean,automatic,4wd,full-size,truck,black,ct,9971.0,6,44.0,84.0,7515.035860
3668,3668,lawrence,2015,bmw,like new,6 cylinders,gas,113035.0,clean,automatic,4wd,full-size,SUV,black,ks,19053.0,2,22.0,396.0,16785.715875
22256,22256,kennewick-pasco-richland,2012,fiat,like new,4 cylinders,gas,71596.0,clean,manual,fwd,compact,hatchback,black,wa,19167.0,3,14.0,13.0,8970.762379
23585,23585,rhode island,2008,chevrolet,excellent,8 cylinders,gas,114423.0,clean,automatic,4wd,full-size,truck,black,ri,38564.0,5,22.0,702.0,12328.666999
25012,25012,ft myers / SW florida,2016,bmw,excellent,6 cylinders,gas,59807.0,clean,manual,rwd,mid-size,sedan,black,fl,12849.0,2,11.0,692.0,18320.224515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14405,14405,gainesville,2012,ford,like new,4 cylinders,gas,108339.0,clean,automatic,fwd,mid-size,sedan,silver,fl,10185.0,3,21.0,704.0,8374.271301
312,312,boulder,2010,jeep,excellent,6 cylinders,gas,67562.0,clean,automatic,4wd,full-size,SUV,black,co,53315.0,4,13.0,574.0,14369.083521
25930,25930,tampa bay area,2002,toyota,like new,6 cylinders,gas,118638.0,clean,automatic,rwd,full-size,SUV,grey,fl,19876.0,7,23.0,315.0,7412.287833
9825,9825,rochester,2019,ford,excellent,8 cylinders,gas,26815.0,clean,automatic,rwd,full-size,van,white,ny,17539.0,1,5.0,207.0,34394.591588
3259,3259,sheboygan,2014,honda,fair,4 cylinders,gas,135689.0,clean,manual,fwd,compact,hatchback,red,wi,9629.0,3,27.0,63.0,4817.453172

In [123]:
predictions["diff_price_label"]=predictions["price"]-predictions["Label"]

In [125]:
predictions["diff_price_label"]=predictions["diff_price_label"].apply(lambda x:(x**2)**0.5)

In [127]:
predictions[["manufacturer","diff_price_label"]].groupby(["manufacturer"]).mean()

               diff_price_label
manufacturer
acura               5031.866208
alfa-romeo          6139.455658
aston-martin        5365.742390
audi                6105.588395
bmw                 5677.916238
buick               5145.679085
cadillac            4891.613226
chevrolet           6178.680683
chrysler            3536.423111
dodge               5372.601422
fiat                4373.510161
ford                6298.227273
gmc                 7264.720263
honda               4233.870518
hyundai             3058.246006
infiniti            4491.683520
jaguar              6944.425673
jeep                6573.003261
kia                 3401.897828
lexus               3301.363274
lincoln             4620.746127
mazda               2550.403991
mercedes-benz       4545.524410
mercury             2035.116801
mini                2356.997930
mitsubishi          5595.159928
nissan              4583.189850
pontiac             3819.632253
porsche             7680.631294
ram                10183.087278
rover               7836.617463
saturn              1420.484617
subaru              5559.479157
toyota              4197.109284
volkswagen          2954.841787
volvo               3721.754222

In [61]:
import numpy as np
def mean_absolute_percentage_error(y_true, y_pred):
        y_true, y_pred = np.array(y_true), np.array(y_pred)
        return np.mean(np.abs((y_pred - y_true) / y_true)) * 100

RF

In [62]:
mean_absolute_percentage_error(predictions["price"],predictions["Label"])

62.3918367792459

catboost

In [67]:
mean_absolute_percentage_error(predictions["price"],predictions["Label"])

64.15940031035562

catboost state,reagionなし

In [74]:
mean_absolute_percentage_error(predictions["price"],predictions["Label"])

64.60284327961021

rf odo,year_binあり

In [92]:
mean_absolute_percentage_error(predictions["price"],predictions["Label"])

62.042859329758485

rf odo,year_bin,mts_countsあり

In [110]:
mean_absolute_percentage_error(predictions["price"],predictions["Label"])

63.60703547962775

catboost odo,year_bin price_log10

In [122]:
mean_absolute_percentage_error(predictions["price"],predictions["Label"])

52.044399417982625